.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    flex: 15%
    background-color: lightblue; 
}
.menu{
    flex: 5%
    background-color: darkyellow;
}
.content{
    flex: 70%
    background-color: white;
}
.footer{
    flex: 10%
    background-color: lightblue;
}


.tieude {
    color: red;
    font-weight: bold;
    font-size: 25pt;
}
.noidung{
    color: black;
    font-style: normal;
    font-size: 14pt;
