.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    flex: 15%;
    background-color: lightgray; 
}
.menu{
    flex: 5%;
    background-color: darkgray;
    display: flex;
}
.menu a{
    padding: 20px;
    color: blue;
}
.menu hover{
    background-color: lightgray;
    color: black;
}
.content{
    flex: 70%;
    background-color: white;
}
.content iframe{
    flex: 1;
    border: none;
    width: 100%;
    height: 100%;
}
   
.footer{
    flex: 10%;
    background-color: lightblue;
}


.tieude {
    color: red;
    font-weight: bold;
    font-size: 25pt;
}
.noidung{
    color: black;
    font-style: normal;
    font-size: 14pt;
